%ul.chat__main__body
  %li.chat__main__body__message
    .chat__main__body__message__header
      %p.chat__main__body__message__header--name
        = message.user.name
      %p.chat__main__body__message__header--then
        = message.time
    %p.chat__main__body__message--post
      = message.text
