.chat-group-made-view
  %p チャットグループが作成されました。
.chat
  .chat-left-contents
    .chat-name.clearfix
      %h5 福井洸希
      .chat-user-customs
        %a.chat-user-custom{href: "#"}
          %i.fa.fa-pencil-square-o
        %a.chat-user-custom{href: "#"}
          %i.fa.fa-cog
    %ul.chat-groups
      %li.chat-group
        %a.chat-group-link{href: "#"}
          %p.chat-group-name イケイケ
          %p.chat-group-message 今日暇？
      %li.chat-group
        %a.chat-group-link{href: "#"}
          %p.chat-group-name 読書大好きな人たち
          %p.chat-group-message まだメッセージはありません。
      %li.chat-group
        %a.chat-group-link{href: "#"}
          %p.chat-group-name 暇人
          %p.chat-group-message まだメッセージはありません。

