.left_content {
  background-color: #253141;
  width: 300px;
  height: 100px;
}

.left_content p {
  padding: 40px 20px 60px 20px;
  font-size: 16px;
  color: #FFFFFF;
}

.bottom_left_content {
  background-color: #2f3e51;
  width: 300px;
  background-color:#2f3e51;
  height: 700px;
}

.bottom_left_content h2 {
  padding: 20px 20px 5px 20px;
  font-size: 15px;
  color: #FFFFFF;
}

.bottom_left_content p {
  padding:0 20px 40px 20px;
  font-size: 11px;
  color: #FFFFFF;
}
