$chat-user-group-word-color: #FFFFFF;
.chat-group-made-view {
  background-color: #38A;
  height: 30px;
  p {
    color: white;
    text-align: center;
  }
}
.chat{
  float: left;
  height: 100%;
  width: 100%;
  .chat-left-contents {
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    float: left;
     .chat-name {
      padding: 20px;
       background-color: #253141;
       height: 80px;
       h5 {
        float: left;
        font-size: 16px;
        color: $chat-user-group-word-color;
        line-height: 80px;
       }
       .chat-user-customs {
        float: right;
        padding-top: 27px;
          .chat-user-custom {
            color: white;
          }
       }
     }
    .chat-groups {
      padding: 20px 20px 0 20px;
      .chat-group {
        padding-bottom: 40px;
        .chat-group-name {
          padding-bottom: 5px;
          color: $chat-user-group-word-color;
        }
        .chat-group-message {
          color: $chat-user-group-word-color;
        }
      }
    }
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}


