#add_button {
  position: absolute;
  float: right;
  color: blue;
  left: 580px;
  bottom: 10px;
}

#user-search-result {
  position: relative;
  list-style: none;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.chat-group-user__name {
  padding-top: 6px;
}

.remove-group-user {
  position: relative;
  list-style: none;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

#remove_button {
  position: absolute;
  float: right;
  left: 580px;
  bottom: 10px;
  color: red;
}

