$white-color: #FFFFFF;
$skyblue-color: #38AEF0;
$navy-color: #2F3E51;
$dark-navy-color: #253141;
$post-message-color: #434A54;
$dark-gray-color: #434A54;
$member-time-color: #999999;
$member-time-size: 12px;
